main {
    background-color: #6D213C;
}

button {
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
       
    &:hover {
        background-color: wheat;
    }
}


a{
    margin: 2rem;
    text-decoration: underline;
}

a:hover {
    color: blue;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5rem 2rem 5rem;
    background-color: whitesmoke;
    box-shadow: 10px 5px 5px black;

    .messageElement {
        padding: 0;
        margin: 1rem;
    }
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5rem;

    p {
        background-color: whitesmoke;
        padding: 1rem;
    }
    
    h2 {
        text-decoration: underline;
    }
}

article {
    border: solid black;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin-bottom: 2rem;
    box-shadow: 10px 5px 5px black;

    .side{
        padding: 0 2rem 2rem;
    }

    .screenshot {
        width: 100%
    }

    .hrefs {
        display: flex;
        flex-direction: column;
    }
    
}

@include breakpoint($small) {
    article {
        flex-direction: row;
    }
}

#pagebreak {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


